.header_wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(../images/peoplesMOBILE.jpg);
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-repeat: no-repeat;
    /* background-size: 321px 541px; */
    background-position: center;
    background-size: cover;
  }
  
  .log_buttons {
    display: flex;
    justify-content: space-between;
    width: 205px;
    margin: 0 auto 115px;
    padding-top: 19px;
  }
  
  
  
  .log_in {
    border: none;
    background-color: transparent;
    text-transform: capitalize;
    outline: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: solid 2px transparent;
    border-radius: 50px;
    padding: 13px 18px 10px 20px;
    color: #ffffff;
  }
  
  .log_in:hover {
    border: solid 2px white;
    border-radius: 50px;
  }
  
  
  .sing_up {
    background-color: transparent;
    text-transform: capitalize;
    outline: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: none;
    border: solid 2px transparent;
    border-radius: 50px;
    padding: 13px 18px 10px 20px;
    color: #ffffff;
  }
  
  .sing_up:hover {
    border: solid 2px white;
    border-radius: 50px;
  }
  
  
  .logo {
    margin-bottom: 38px;
    font-weight: bold;
    text-align: center;
  }
  
  .logo_link {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #ffffff;
  }