@import "./fonts.scss";
@import "./variables.scss";

.video_section {
    background-color: $BackgroundColor;
}

.video_section_wrapper {
    padding-bottom: 60px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        padding-bottom: 99px;
    }

    @media screen and (min-width: 1440px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1300px;

    }

}

.video_section_text_wrapper {
    display: block;
}



.video_section_title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 60px;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        font-size: 28px;
        padding-top: 108px;
        margin-bottom: 23px;
    }

    @media screen and (min-width: 1440px) {
        padding-top: 96px;
        text-align: left;
    }
}


.video_section_text {
    font-family: 'Open Sans', sans-serif;
    color: #d5f4f9;
    width: 248px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 41px;

    @media screen and (min-width: 768px) {
        width: 552px;
        font-size: 16px;
        margin-bottom: 25px;
    }

    @media screen and (min-width: 1440px) {
        text-align: left;
        margin: 0;
        margin-bottom: 25px;

        
    }
}

.video_section_links_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 38px;

    @media screen and (min-width: 768px) {
        margin-bottom: 58px;
    }

    @media screen and (min-width: 1440px) {
        display: flex;
        justify-content: start;
    }
}



.video_section_link {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #0098cd;
    border: 3px solid #0098cd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;

    &:hover {
        background-color: $MainColor;
        border-color: $MainColor;
        transition: 200ms linear;

    }
}

.video_section_link:last-child {
    margin-right: 0;
}


.video_section_links_list_icon {
    width: 28px;
    height: 32px;
}

.video_section_video_wrapper {
    text-align: center;

    @media screen and (min-width: 1440px) {
        
    }
}

.brawl_video {
    width: 285px;

    @media screen and (min-width: 768px) {
        width: 550px;

    }


    @media screen and (min-width: 1440px) {
    }
    
}